<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Seller user</th>
    <th>Buyer user</th>
    <th>Location</th>
    <th>Begin</th>
    <th>End</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.seller_user %></td>
    <td><%= contract.buyer_user %></td>
    <td><%= contract.location %></td>
    <td><%= contract.begin %></td>
    <td><%= contract.end %></td>
    <td><%= contract.rate %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
