<p id="notice"><%= notice %></p>

<div class="tabbable">
	<ul class="nav nav-tabs no-bottom-margin">
		<li <%= 'class=active' if params[:path] == 'listings' %>><a href="#tab1" data-toggle="tab">Your Listings</a></li>
		<li <%= 'class=active' if params[:path] == 'bookings' %>><a href="#tab2" data-toggle="tab">Your Bookings</a></li>
		<li <%= 'class=active' if params[:path] == 'profile' %>><a href="#tab3" data-toggle="tab">Profile</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane <%= 'active' if params[:path] == 'listings' %>" id="tab1">
            <ul class="nav nav-pills less-top-margin">
                <li class="active"><a href="#tab1.1" data-toggle="tab">Listed Spaces</a></li>
                <li><a href="#tab1.2" data-toggle="tab">Active Bookings</a></li>
                <li><a href="#tab1.2" data-toggle="tab">Past Bookings</a></li>
            </ul>
            <div class="tab-inner">
    			<% @booked = Contract.where("buyer_id = #{current_user.id}").order("begin DESC") %>
    			<ul class="thumbnails">
                    <% @booked.each do |contract| %>
                        <li class="span6">
                            <%= link_to(location_contract_path(contract.location, contract), :class => 'thumbnail') do %>
                                <div class="row">
                                    <div class="span3">
                                        <p>Listed by <%= contract.seller.name %><br />
                                        <%= contract.location.address %><br />
                                        Booked on <%= contract.created_at.strftime("%b %e, %Y") %><br />
                                    	From <%= contract.begin.strftime("%b %e, %Y") %> to <%= contract.end.strftime("%b %e, %Y") %></p>
                                    </div>
                                    <div class="span3 no-left-margin center-content">
                                        <h1>$<%= contract.rate %></h1>
                                    </div>
                                </div>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
		</div>
		<div class="tab-pane <%= 'active' if params[:path] == 'bookings' %>" id="tab2">
            <ul class="nav nav-pills less-top-margin">
                <li class="active"><a href="#tab1.1" data-toggle="tab">Active Bookings</a></li>
                <li><a href="#tab1.2" data-toggle="tab">Watchlist</a></li>
                <li><a href="#tab1.2" data-toggle="tab">Past Bookings</a></li>
            </ul>
            <div class="tab-inner">
    			<% @sold = Contract.where("seller_id = #{current_user.id}").order("begin DESC") %>
    			<ul class="thumbnails">
                    <% @sold.each do |contract| %>
                        <li class="span6">
                            <%= link_to(location_contract_path(contract.location, contract), :class => 'thumbnail') do %>
                                <div class="row">
                                    <div class="span3">
                                        <p>Booked by <%= contract.buyer.name %><br />
                                        <%= contract.location.address %><br />
                                        Booked on <%= contract.created_at.strftime("%b %e, %Y") %><br />
                                    	From <%= contract.begin.strftime("%b %e, %Y") %> to <%= contract.end.strftime("%b %e, %Y") %></p>
                                    </div>
                                    <div class="span3 no-left-margin center-content">
                                        <h1>$<%= contract.rate %></h1>
                                    </div>
                                </div>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
		</div>
		<div class="tab-pane <%= 'active' if params[:path] == 'profile' %>" id="tab3">
            <ul class="nav nav-pills less-top-margin">
                <li class="active"><a href="#tab1.1" data-toggle="tab">Personal Information</a></li>
                <li><a href="#tab1.2" data-toggle="tab">Security</a></li>
            </ul>
            <div class="tab-inner">
    			<p>
    				<b>First name:</b>
    				<%= @user.first_name %>
    			</p>

    			<p>
    				<b>Last name:</b>
    				<%= @user.last_name %>
    			</p>

    			<p>
    				<b>Email:</b>
    				<%= @user.email %>
    			</p>

    			<p>
    				<b>Zipcode:</b>
    				<%= @user.zipcode %>
    			</p>
            </div>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', locations_search_path %>
