<p id="notice"><%= notice %></p>

<div class="tabbable">
	<ul class="nav nav-tabs no-bottom-margin">
		<li <%= 'class=active' if params[:path] == 'listings' %>><a href="#tab1" data-toggle="tab">Your Listings</a></li>
		<li <%= 'class=active' if params[:path] == 'bookings' %>><a href="#tab2" data-toggle="tab">Your Bookings</a></li>
		<li <%= 'class=active' if params[:path] == 'profile' %>><a href="#tab3" data-toggle="tab">Profile</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane <%= 'active' if params[:path] == 'listings' %>" id="tab1">
            <ul class="nav nav-pills less-top-margin less-bottom-margin">
                <li class="active"><a href="#tab11" data-toggle="tab">Listed Spaces</a></li>
                <li><a href="#tab12" data-toggle="tab">Active Bookings</a></li>
                <li><a href="#tab13" data-toggle="tab">Past Bookings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-inner active" id="tab11">
        			<% @listings = Location.getUsersLocations(current_user.id) %>
                    <ul class="thumbnails">
                        <% @listings.each do |listing| %>
                            <li class="span6">
                                <%= link_to(location_path(listing), :class => 'thumbnail') do %>
                                    <div class="row">
                                        <div class="span3">
                                            <p><%= listing.user.first_name %><br />
                                            <%= listing.address %><br />
                                            <%= (listing.city + ", " + listing.state + " " + listing.zipcode) %></p>
                                        </div>
                                        <div class="span3 no-left-margin center-content">
                                            <div class="price">
                                                <sup>$</sup><%= number_with_precision(listing.rate, :precision => 2) %>
                                                <div class="light">Per sqft per month</div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="tab-pane tab-inner" id="tab12">
                    <% @bookings = Contract.getSellerActiveContracts(current_user.id, Date.today) %>
                    <ul class="thumbnails">
                        <% @bookings.each do |contract| %>
                            <li class="span6">
                                <%= link_to(location_contract_path(contract.location, contract), :class => 'thumbnail') do %>
                                    <div class="row">
                                        <div class="span3">
                                            <p>Booked by <%= contract.buyer.name %><br />
                                            <%= contract.location.address %><br />
                                            Booked on <%= contract.created_at.strftime("%b %e, %Y") %><br />
                                            From <%= contract.begin_time.strftime("%b %e, %Y") %> to <%= contract.end_time.strftime("%b %e, %Y") %></p>
                                        </div>
                                        <div class="span3 no-left-margin center-content">
                                            <div class="price">
                                                <sup>$</sup><%= number_with_precision(contract.rate, :precision => 2) %>
                                                <div class="light">Per sqft per month</div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="tab-pane tab-inner" id="tab13">
                    <% @bookings = Contract.getSellerPastContracts(current_user.id, Date.today) %>
                    <ul class="thumbnails">
                        <% @bookings.each do |contract| %>
                            <li class="span6">
                                <%= link_to(location_contract_path(contract.location, contract), :class => 'thumbnail') do %>
                                    <div class="row">
                                        <div class="span3">
                                            <p>Booked by <%= contract.buyer.name %><br />
                                            <%= contract.location.address %><br />
                                            Booked on <%= contract.created_at.strftime("%b %e, %Y") %><br />
                                            From <%= contract.begin_time.strftime("%b %e, %Y") %> to <%= contract.end_time.strftime("%b %e, %Y") %></p>
                                        </div>
                                        <div class="span3 no-left-margin center-content">
                                            <div class="price">
                                                <sup>$</sup><%= number_with_precision(contract.rate, :precision => 2) %>
                                                <div class="light">Per sqft per month</div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
		  </div>
        </div>
		<div class="tab-pane <%= 'active' if params[:path] == 'bookings' %>" id="tab2">
            <ul class="nav nav-pills less-top-margin less-bottom-margin">
                <li class="active"><a href="#tab21" data-toggle="tab">Active Bookings</a></li>
                <li><a href="#tab22" data-toggle="tab">Past Bookings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-inner active" id="tab21">
                    <% @bookings = Contract.getBuyerActiveContracts(current_user.id, Date.today) %>
                    <ul class="thumbnails">
                        <% @bookings.each do |contract| %>
                            <li class="span6">
                                <%= link_to(location_contract_path(contract.location, contract), :class => 'thumbnail') do %>
                                    <div class="row">
                                        <div class="span3">
                                            <p><%= contract.location.address %><br />
                                            Booked on <%= contract.created_at.strftime("%b %e, %Y") %><br />
                                            From <%= contract.begin_time.strftime("%b %e, %Y") %> to <%= contract.end_time.strftime("%b %e, %Y") %></p>
                                        </div>
                                        <div class="span3 no-left-margin center-content">
                                            <div class="price">
                                                <sup>$</sup><%= number_with_precision(contract.rate, :precision => 2) %>
                                                <div class="light">Per sqft per month</div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="tab-pane tab-inner" id="tab22">
                    <% @bookings = Contract.getBuyerPastContracts(current_user.id, Date.today) %>
                    <ul class="thumbnails">
                        <% @bookings.each do |contract| %>
                            <li class="span6">
                                <%= link_to(location_contract_path(contract.location, contract), :class => 'thumbnail') do %>
                                    <div class="row">
                                        <div class="span3">
                                            <p>Listed by <%= contract.seller.name %><br />
                                            <%= contract.location.address %><br />
                                            Booked on <%= contract.created_at.strftime("%b %e, %Y") %><br />
                                            From <%= contract.begin_time.strftime("%b %e, %Y") %> to <%= contract.end_time.strftime("%b %e, %Y") %></p>
                                        </div>
                                        <div class="span3 no-left-margin center-content">
                                            <div class="price">
                                                <sup>$</sup><%= number_with_precision(contract.rate, :precision => 2) %>
                                                <div class="light">Per sqft per month</div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
		</div>
		<div class="tab-pane <%= 'active' if params[:path] == 'profile' %>" id="tab3">
            <ul class="nav nav-pills less-top-margin less-bottom-margin">
                <li class="active"><a href="#tab31" data-toggle="tab">Account Information</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-inner active" id="tab31">
					<%= link_to 'Edit Account Information', edit_user_registration_path, :class => 'btn btn-large btn-success' %>
                    <br /><br />
                </div>
            </div>
		</div>
	</div>
</div>

<%= link_to 'Back to search results', locations_search_path %>
