<h2>Find storage near you.</h2>
<div class="well well-small">
    <%= form_for @search, :html => { :class => 'no-bottom-margin' } do |f| %>
        <% if @search.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@location.errors.count, "error") %> prohibited this search from being saved:</h2>

              <ul>
              <% @search.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.text_field :address, :placeholder => 'Where do you need storage?', :class => 'no-bottom-margin input-long', :autocomplete => 'off' %>
        <%= text_field_tag :search_dates, nil, :placeholder => 'When do you need it?', :class => 'no-bottom-margin input-short' %>
        <%= submit_tag 'Find a space', :class => 'btn btn-primary' %>
    <% end %>
</div>
<div id="mapCanvas"></div>
<%= link_to 'Or list your own storage space', new_location_path %>
