<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Location</legend>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div><br />

  <legend>Dimensions & Rate</legend>
  <div class="field">
    <%= f.label :dimensions %>
    <%= f.text_field :width, :in => 1..100, :class => 'dimension' %>  by  <%= f.text_field :length, :in => 0..100, :class => 'dimension' %>
    <span class="help-block">Measurements should be in feet.</span>
  </div>
  <div class="field">
    <%= f.label :rate %>
    <%= f.text_field :rate %>
    <span class="help-block">Rates are per square foot per month. <a id="rate-help-show" class="blue">Need help?</a></span>
    <span id="rate-help">
      <span class="help-block">Campus storage charges about $7-$9/sqft per month. This includes pick-up and delivery of boxes.</span>
      <span class="help-block">Self storage charges anywhere from $1-$3/sqft per month. This doesn't include vehicle rental costs.</span>
      <span class="help-block">We recommend a rate around <span class="blue"><b>$3-$5</b></span> depending on location and amenities.</span>
    </span>
  </div><br />

  <legend>Features & Details</legend>
  <div class="field">
    <%= f.label :amenities, "Amenities" %>
    <label><%= f.check_box :ac %> <b>A/C</b></label>
    <label><%= f.check_box :dehumidifier %> <b>Dehumidifier</b></label>
    <label><%= f.check_box :alarm %> <b>Alarm</b></label>
    <label><%= f.check_box :basement %> <b>Basement</b></label>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>