<% content_for(:head) do %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBy8s0syQBgpYzfx100yEkYRK--ZFK1mPU&sensor=false" %>
<% end %>

<%= javascript_tag do %>
    window.locations = <%= raw Location.limit(10).to_json %>
    <% if user_signed_in? and current_user.latitude? and current_user.longitude? %>
        window.userLat = <%= current_user.latitude %>
        window.userLon = <%= current_user.longitude %>
    <% end %>
<% end %>

<% if !user_signed_in? %>
    <div class="narrow center">
        <h1>StorifyPenn matches people who need storage with people who have it.</h1>
        <%= link_to('Join now!', new_user_registration_path, :class => 'btn btn-large btn-primary') %>
    </div>
<% end %>

<h2>Storage locations near you</h2>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Address View</a></li>
        <li><a href="#tab2" data-toggle="tab">Map View</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <ul class="thumbnails">
                <% @locations.each do |location| %>
                    <li class="span6">
                        <%= link_to(location, :class => 'thumbnail') do %>
                            <div class="row">
                                <div class="span3">
                                    <p><%= location.user.first_name %><br />
                                    <%= location.address %><br />
                                    <%= (location.city + ", " + location.state + " " + location.zipcode) %></p>
                                </div>
                                <div class="span3 no-left-margin center-content">
                                    <h1>$<%= location.rate %></h1>
                                </div>
                            </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="tab-pane" id="tab2">
            <div id="map_canvas"></div>
        </div>
    </div>
</div>
<!--
<table class="table table-hover">
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Rate</th>
    <th>A/C</th>
    <th>Dehumidifier</th>
    <th>Available</th>
    <th>User</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zipcode %></td>
    <td><%= location.rate %></td>
    <td>
        <% if location.ac %>
            Yes
        <% else %>
            No
        <% end %>
    </td>
    <td>
        <% if location.dehumidifier %>
            Yes
        <% else %>
            No
        <% end %>
    </td>
    <td>
        <% if location.available %>
            Yes
        <% else %>
            No
        <% end %>
    </td>
    <td><%= location.user_name %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
-->
<%= link_to 'New Location', new_location_path %>