<div class="narrow center">
    <h1>StorifyPenn matches people who need storage with people who have it.</h1>
    <a class="btn btn-large btn-primary" href="/users/new">Sign up today</a>
</div>

<h2>Storage locations near you</h2>

<table class="table table-hover">
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Rate</th>
    <th>A/C</th>
    <th>Dehumidifier</th>
    <th>Available</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zipcode %></td>
    <td><%= location.rate %></td>
    <td><%= location.ac %></td>
    <td><%= location.dehumidifier %></td>
    <td><%= location.available %></td>
    <td><%= location.user_name %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
