<% content_for(:head) do %>
  <%= javascript_tag do %>
    window.booked = <%= raw @booked %>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<h3 class="no-bottom-margin"><%= @location.address %></h3>
<h5 class="no-top-margin"><%= @location.city + ', ' + @location.state + ' ' + @location.zipcode %></h5>

<div class="row">
  <div class="span10">
    <p>
      <b>Availability</b>
      <span id="available"></span>
    </p>

    <div style="width: 500px;">
      <p><b>Features</b></p>
      <table class="table table-bordered center">
        <thead>
          <tr>
            <th style="width: 125px;">A/C</th>
            <th style="width: 125px;">Dehumidifier</th>
            <th style="width: 125px;">Alarm</th>
            <th style="width: 125px;">Basement</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 40px;">
            <td><% if @location.ac %>
              <i class="icon-ok"></i>
              <% end %>
            </td>
            <td><% if @location.dehumidifier %>
              <i class="icon-ok"></i>
              <% end %>
            </td>
            <td><% if @location.alarm %>
              <i class="icon-ok"></i>
              <% end %>
            </td>
            <td><% if @location.basement %>
              <i class="icon-ok"></i>
              <% end %>
            </td>
          </tr>
        </tbody> 
      </table>
    </div>
  </div>
  <div class="span2">
    <p>
      <b>Rate:</b>
      <%= @location.rate %>
    </p>
    <p>
      <b>User:</b>
      <%= @location.user_name %>
    </p>
  </div>
</div>

<%= link_to 'Book this space', new_location_contract_path(@location.id), :class => 'btn btn-large btn-primary' %>
<br /><br />
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back to search results', locations_search_path %>
