<%= javascript_tag do %>
  datepicker(<%= raw @booked %>)
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @location.zipcode %>
</p>

<p>
  <b>Rate:</b>
  <%= @location.rate %>
</p>

<p>
  <b>Available:</b>
  <div id="available"></div>
</p>

<p>
  <b>User:</b>
  <%= @location.user_name %>
</p>

<div style="width: 250px;">
  <table class="table table-bordered center">
    <thead>
      <tr>
        <th style="width: 125px;">A/C</th>
        <th style="width: 125px;">Dehumidifier</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><% if @location.ac %>
          <i class="icon-ok"></i>
          <% end %>
        </td>
        <td><% if @location.dehumidifier %>
          <i class="icon-ok"></i>
          <% end %>
        </td>
      </tr>
    </tbody> 
  </table>
</div>

<%= link_to('Book this space', new_contract_path(:from => "book"), :class => 'btn btn-large btn-primary') %>
<br /><br />
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
