<!DOCTYPE html>
<html>
<head>
  <title>Storifypenn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <ul class="nav nav-pills pull-right">
        <li class="<%= 'active' if current_page?(:controller => 'locations') %>">
          <a href="/locations">Locations</a>
        </li>
        <li class="<%= 'active' if current_page?(:controller => 'users') %>">
          <a href="/users">Users</a>
        </li>
        <li class="<%= 'active' if current_page?(:controller => 'contracts') %>">
          <a href="/contracts">Contracts</a>
        </li>
      </ul>

      <h3 class="muted"><a class="nostyle" href="/">StorifyPenn</a></h1>

      <hr>
      <a href="#" class="btn btn-link pull-right less-top">Sign in</a>

      <%= yield %>
    </div>

    <div id="push"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; Jonathan Hwa 2013</p>
    </div>
  </div>
</body>
</html>
