<!DOCTYPE html>
<html>
<head>
  <title>Storifypenn</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,600" %>
  <%= yield(:head) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize();">
  <div id="wrap">
    <div class="container">
      <ul class="nav nav-pills pull-right">
        <% if user_signed_in? %>
          <div class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><%= current_user.first_name + ' ' %><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to 'Your Listings', user_path(current_user, :path => 'listings') %></li>
              <li><%= link_to 'Your Bookings', user_path(current_user, :path => 'bookings') %></li>
              <li><%= link_to 'Your Profile', user_path(current_user, :path => 'profile') %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to('Sign in', new_user_session_path, :class => 'btn btn-link pull-right no-top-margin') %>
        <% end %>
      </ul>

      <h3 class="muted"><a class="nostyle" href="/">StorifyPenn</a></h1>

      <hr>
      
      
      <% if alert %>
        <div class="alert alert-error">
          <%= alert %>
          <span class="close"><i class="icon-remove"></i></span>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
          <span class="close"><i class="icon-remove"></i></span>
        </div>
      <% end %>

      <span style="display: none; margin-right: 13px;" class="show"><i class="icon-warning-sign"></i></span>
      
      <%= yield %>
    </div>

    <div id="push"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; Jonathan Hwa 2013</p>
    </div>
  </div>
</body>
</html>
