<!DOCTYPE html>
<html>
<head>
  <title>Storifypenn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    

    <ul class="nav nav-pills pull-right">
      <li class="<%= 'active' if current_page?(:controller => 'locations') %>">
        <a href="/locations">Locations</a>
      </li>
      <li class="<%= 'active' if current_page?(:controller => 'users') %>">
        <a href="/users">Users</a>
      </li>
      <li class="<%= 'active' if current_page?(:controller => 'contracts') %>">
        <a href="/contracts">Contracts</a>
      </li>
    </ul>

    <h3 class="muted">StorifyPenn</h1>

    <hr>

    <%= yield %>
  </div>
</body>
</html>
