<!DOCTYPE html>
<html>
<head>
  <title>Storifypenn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to('Locations', locations_path) %></li>
        <li><%= link_to('Contracts', contracts_path) %></li>
      </ul>

      <h3 class="muted"><a class="nostyle" href="/">StorifyPenn</a></h1>

      <hr>
      <% if user_signed_in? %>
        <%= link_to('Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-link pull-right less-top') %>
      <% else %>
        <%= link_to('Sign in', new_user_session_path, :class => 'btn btn-link pull-right less-top') %>
      <% end %>
      
      <% if alert %>
        <div class="alert alert-error">
          <%= alert %>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>

    <div id="push"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; Jonathan Hwa 2013</p>
    </div>
  </div>
</body>
</html>
